{% extends 'base.html.twig' %}


{% block body %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elit nulla,
        iaculis vitae blandit accumsan, aliquet a sem.
        Ut nulla risus, faucibus lobortis eros non,
        bibendum varius augue. </p>
{% endblock %}

