{% extends 'base.html.twig' %}

{% block body %}
    <h1>List de bucket - All wishes</h1>
    <section class="bucket-list">
        {% for wish in wishes %}
            <article>
                <a href="{{ path('wishes_detail', {'id': wish.id }) }}">
                    <ul>
                        <li> {{ wish.title  }}</li>
                    </ul>
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}